daphne==4.0.0
decorator==5.1.1
Django==4.2.1
django-appconf==1.0.5
django-bootstrap5==23.1
django-classy-tags==4.0.0
django-environ==0.10.0
django-extensions==3.2.1
django-imagekit==4.1.0
django-taggit==4.0.0
django-taggit-templatetags==0.2.5
django-taggit-templatetags2==1.6.1
@@ -38,6 +40,7 @@ packaging==23.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pilkit==2.0
Pillow==9.5.0
pluggy==1.0.0
prompt-toolkit==3.0.38