asgiref==3.7.1
Django==4.2.1
django-classy-tags==4.0.0
django-taggit==4.0.0
django-taggit-templatetags==0.2.5
django-taggit-templatetags2==1.6.1
django-templatetag-sugar==1.0
Pillow==9.5.0
pytz==2023.3
sqlparse==0.4.4
typing_extensions==4.6.1
axios==0.4.0
django-imagekit==4.1.0