@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Base */

* {
  font-family: 'Pretendard-Regular';
  box-sizing: border-box;
}

.form-control {
  border: 1px solid rgb(180, 221, 182);
}

.form-select {
  border: 1px solid rgb(127, 177, 130);
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

nav {
  position: sticky;
  top: 0;
  height: 90px;
  background-color: #F0FDFA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  box-shadow: 1px 10px 29px 1px rgba(171,171,171,0.29);
  padding: 0 1rem;
}


footer {
  position: absolute;
  height: 90px;
  bottom: 0;
  background-color: rgb(137, 186, 150);
  width: 100%;
  font-size: 14px;
  color: #d4edd1c2;
}

section {
  padding-bottom: 110px;
  width: 100%;
}

ul {
  padding-left: 0 !important;
}
.sidebar h2 {
  color: #5d9559
}


ul a {
  text-decoration: none;
  color: rgb(82, 110, 71);
  /* color: #61321ac2; */
}

ul li {
  margin-bottom: 10px;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  overflow: hidden;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.offcanvas.show {
  opacity: 1;
  pointer-events: auto;
}

.offcanvas-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  height: 90px;
  text-align: center;
}

.offcanvas-search {
  width: 100%;
  height: 50px;
}

.position-relative {
  position: relative;
}

.offcanvas-inner .search-btn {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.offcanvas-inner input:focus {
  outline: none;
}

.offcanvas-inner input::-webkit-search-cancel-button {
  display: none;
}

.search-mobile input{
  border: 1px solid #bdcfa7;
  border-radius: 50px;
  background-color: #fff;
}

/* Nav */

.nav--logo {
  display: flex;
  padding-top: 15px;
}

/*
@media screen and (max-width: 992px) {
  .nav--logo {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 992px) {
  .nav--logo {
    grid-column: 1 / 5;
    margin-left: 50px;
  }
} */

.nav--logo i{
  size: 40px;
  padding-top: 25px;
  padding-right: 10px;
}

.nav--logo a{
  text-decoration: none;
  color: rgb(58, 104, 69);
  font-size: 30px;
  font-family: 'PyeongChangPeace-Bold';
  padding-top: 5px;
}

.nav--list {
  list-style: none;
  display: flex;
  padding-left: 50px;
  margin-left: 50px;
  padding-top: 8px;
  margin-top: 9px;
}

.nav--list li {
  margin-right: 10px;
}

.nav--list li a {
  text-decoration: none;
  color: #5b7c51;
  font-family: 'Cafe24Ssurround';
  font-size: 20px;
}

.nav--right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav--search--mobile {
  display: none;
}

.nav--search--mobile .search-btn {
  position: static;
}

@media screen and (max-width: 767px) {
  .nav--search {
    display: none;
  }

  .nav--search--mobile {
    display: block;
  }
}


/* 
.nav--search {
  margin-left: auto;
  width: 250px;
}

@media screen and (max-width: 992px) {
  .nav--search {
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 992px) {
  .nav--search {
    grid-column: 8 / 10;
  }
} */

.search {
  position: relative;
  width: 250px;
  height: 30px;
  border: 1px solid #bdcfa7;
  border-radius: 50px;
  background-color: white;
}

.search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 50px;
  margin: 0;
  padding: 0;
}
.search input:focus {
  outline: none;
}
.search input::-webkit-search-cancel-button {
  display: none;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  border: 0;
  background-color: #ffffff00;
}

.nav--accounts {
  /* margin-left: 30px; */
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .nav--accounts {
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 992px) {
  .nav--accounts {
    grid-column: 10 / 11;
  }
}

.dropdown {
  background-color: rgba(168, 177, 129, 0);
}

/* profile */
.profile--image {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  overflow: hidden;
  padding: 0;
  border: none;
  background-color: rgba(244, 165, 96, 0);
}

.profile {
  width: 50px;
  height: 50px;
}


/* footer */

footer a {
  font-family: 'SUITE-Regular';
  color: #d4edd1c2;
  text-decoration: none;
  line-height: 40px;
  margin: 0 5px;
}

.footer--txt {
  padding-top: 10px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.footer--txt p {
  font-family: 'SUITE-Regular';
  margin-bottom: 0;
}

/* Index */

.index--page {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  padding: 10px;
  margin: 0 50px;
}

.sidebar {
  grid-column: 1 / 5;
  border-right: 1px solid rgb(210, 210, 210);
  height: 100%;
  padding: 10px;
} 
.sidebar li {
  list-style: none;
}

/* accounts */

.accounts--box {
  margin: 15px 50px;
  height: 550px;
}

.accounts--join {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accounts--join h1 {
  color: #294d27c2;
  font-family: 'omyu_pretty';
}

.accounts--join a {
  text-decoration: none;
  display: block;
  text-align: center;
}

.accounts--btn {
  border: none;
  background-color: #294d27c2;
  color: white;
  font-size: 20px;
  width: 400px;
  border-radius: 10px;
  margin: 5px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

.accounts--btn:hover {
  background-color: #294d27c2;
}

/* posts */

.posts--box {
  margin: 15px 50px;
}

.posts--create{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.posts--create h1{
  color: #3e5c39c2;
}

.posts--btn {
  border: none;
  background-color: #3e5c39c2;
  color: white;
  font-size: 20px;
  width: 600px;
  border-radius: 10px;
  margin: 5px 0;
  display: block;
  text-align: center;
}

.posts--commentBtn {
  border: none;
  background-color: #3e5c39c2;
  color: white;
  font-size: 20px;
  width: 400px;
  border-radius: 10px;
  margin: 5px 0;
  display: block;
  text-align: center;
}

/* search */
.search--title {
  width: 90%;
  margin: 10px auto;
  color: #325942c2;
  padding-left: 10px;
}

.search--content {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 90%;
  margin: 10px auto;
}

#id_delete_images {
  list-style: none;
  width: 600px;
}

#id_delete_images li {
  display: inline-block;
}

.tag--title {
  font-size: 20px;
  margin: 10px;
  color: #374e33;
  text-align: center;
  padding: 2px;
}

.chat--btn {
  border-radius: 50px;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 13px 2px rgba(228, 187, 219, 0.756);
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 55px;
  z-index: 999;
}

.chat--btn--txt {
  color: #f0c2ea;
  text-decoration: none;
  font-size: 25px;
}
