{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block style %}
<style>
  form li {
    display:none;
  }
</style>
{% endblock style %}

{% block content %}
  <div class="accounts--box">
    <div class="accounts--join">
      <h1>로그인 페이지</h1>
      <form action="" method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value='로그인' class="accounts--btn">
        <input type="submit" value="Back" class="accounts--btn" onclick=window.history.back()>
      </form>
      <a href="{% url 'accounts:login' %}">
        <img class="accounts--btn" src="{% static 'image/kakao_login_large_wide.png' %}" alt="">
      </a>
    </div>
  </div>
  <hr>
  
{% endblock content %}