<ul>
    <li><h1>{{ profile_detail.username }}</h1></li>
    <li><h1>{{ profile_detail.nickname }}</h1></li>
    <li><h1>{{ profile_detail.email }}</h1></li>
</ul>
{% if request.user != person %}
    <div>
        <form action="{% url 'accounts:follow' username=user.username %}" method="POST">
            {% csrf_token %}
        {% if request.user in person.followers.all %}
            <input type="submit" value="Unfollow">
        {% else %}
            <input type="submit" value="follow">
        {% endif %}
        </form>
    </div>
{% endif %}

