{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<ul>
    <li><h1>{{ profile_detail.username }}</h1></li>
    <li><h1>{{ profile_detail.nickname }}</h1></li>
    <li><h1>{{ profile_detail.email }}</h1></li>
</ul>
<form action="{% url 'accounts:image_upload' username=user.username %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image" accept="image/*">
    <input type="submit" value="업로드">
</form>
{% if request.user != person %}
    <div>
        <form action="{% url 'accounts:toggle_follow' %}" method="POST">
            {% csrf_token %}
        {% if request.user in person.followers.all %}
            <input type="submit" value="Unfollow">
        {% else %}
            <input type="submit" value="follow">
        {% endif %}
        </form>
    </div>
{% endif %}

<script>
$(document).ready(function() {
$('.follow-button').on('click', function(e) {
    e.preventDefault();
    var user_pk = $(this).data('user-pk');
    var button = $(this);

    $.ajax({
        url: '/toggle-follow/',
        type: 'POST',
        data: {'user_pk': user_pk},
        dataType: 'json',
        success: function(response) {
            if (response.is_following) {
                button.text('Unfollow');
            } else {
                button.text('Follow');
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            console.log('Error:', errorThrown);
        }
    });
});
});
</script>
