{% extends 'base.html' %}
{% block title %}Join{% endblock %}
{% block style %}
<style>
  form li {
    list-style: none;
  }
</style>
{% endblock style %}
{% block content %}
  <div class="accounts--box">
    <div class="accounts--join">
      <br>
      <h1>회원가입 진행중 ..🐌</h1>
      <br>
      <form action="{% url 'accounts:signup' %}" method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Join" class="accounts--btn">
        <a href="{% url 'accounts:login' %}" class="accounts--btn">Login</a>
      </form>
    </div>
  </div>
  {% endblock content %}