{% extends "chats/base.html" %}

{% block extra-style %}
<style>
.chat-message > div {
    background-color: #3b3b3b;
    color: #e1e1e1;
    border-radius: 0.8em;
    padding: 0.4em;
    margin: 0.4em 0;
    display: inline-block;
    white-space: pre-wrap;
    max-width: 80%;
    word-wrap: break-word;
}
.chat-message.me {
    text-align: right;
}
.chat-message.me > div {
    background-color: #1f8cff;
    color: #fff;
    text-align: left;
}
</style>
{% endblock extra-style %}

{% block content %}
    {# TODO: 웹소켓으로 실시간 채팅 기능 구현하기 #}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 600px;">
                <div class="card-header">
                    채팅방 : {{ room.name }}
                </div>
                <div class="card-body overflow-hidden">
                    <div id="chat_messages" class="w-100 h-100 border-0 overflow-scroll"></div>
                </div>
                <div class="card-footer">
                    <form id="message_form">
                        <input type="text" name="message" class="form-control"
                               autofocus autocomplete="off" />
                    </form>
                </div>
            </div>
        </div>

{#        <div class="col-sm-4">#}
{#            <div class="card" style="height: 600px;">#}
{#                <div class="card-header">#}
{#                    접속 유저 <span id="user_count"></span>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <ul id="user_list"></ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <hr class="my-3" />

        <a href="{% url 'chats:index' %}" class="btn btn-primary">대기실로 이동</a>

{#        {% if request.user == room.owner %}#}
{#            <a href="{% url 'chats:room_delete' room.pk %}" class="btn btn-danger">#}
{#                채팅방 삭제하기#}
{#            </a>#}
{#        {% endif %}#}
    </div>
</div>
{##}
{#    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"#}
{#         aria-labelledby="staticBackdropLabel" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="staticBackdropLabel">알림</h5>#}
{#                </div>#}
{#                <div class="modal-body"></div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-primary">OK</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block extra-script %}
<script>
const handlers = {
    chat_messages_tag :null,

    init() {
        this.chat_messages_tag = document.querySelector("#chat_messages");
        document.querySelector("#message_form")
            .addEventListener("submit", this.onsubmit.bind(this));
    },

    onsubmit(event) {
        event.preventDefault();

        const form_data = new FormData(event.target);
        const props = Object.fromEntries(form_data);
        event.target.reset();  // reset form

        const {message} = props;
        console.log("웹소켓으로 전송할 메세지 :", props);
    },
};
</script>
{% endblock extra-script %}