<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <title>{% block title %}{% endblock title %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
  <link rel="icon" href="{% static 'image/money_log.png' %}">
  {% block head %}{% endblock head %}
  {% block style %}{% endblock style %}
</head>
<body>
  <nav>
    <div class="nav--logo">
      <i class="fa-solid fa-piggy-bank fa-2xl" style="color: #3a6845;"></i>
      <a href="{% url 'main' %}" style="padding-left:5px;">Think-A-Bill</a>
      <ul class="nav--list">
        <li><a href="{% url 'posts:index' %}" style="padding-left:10px;">정보공유</a></li>
        <li><a href="{% url 'products:product_list' %}" style="padding-left:10px;">상품</a></li>
        {% comment %} <li><a href="{% url 'books:index' %}" style="padding-left:5px;">Book</a></li> {% endcomment %}
      </ul>
    </div>
    <div class="nav--right">
      {% if request.user.is_authenticated %}
        {% if request.resolver_match.view_name == 'posts:index' %}
          <a href="{% url 'posts:create' %}"><i class="fa-solid fa-pencil fa-lg" style="color: #97ad94;"></i></a>
        {% endif %}
        {% if request.resolver_match.view_name == 'products:product_list' %}
          <a href="{% url 'products:create' %}"><i class="fa-solid fa-pencil fa-lg" style="color: #97ad94;"></i></a>
        {% endif %}
      {% endif %}
      {% block search-bar %}
      <div class="nav--search">
        <form action="{% url 'posts:search' %}" method="GET" class="search">
          {% csrf_token %}
          <div>
            <input type="search" placeholder='검색어를 입력하세요!' name='q' style="padding-left:16px;">
            <button class="search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass" style="color: #183f20;"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="nav--search--mobile">
        <button id="search-icon" class="search-btn">
          <i class="fa-solid fa-magnifying-glass" style="color: #183f20;"></i>
        </button>
      </div>
      {% endblock search-bar %}
      <div class="nav--accounts">
        {% if request.user.is_authenticated %}
          {% if user.image %}
          <div class="dropdown">
            <button class="profile--image rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.image.url }}" alt="" class="object-fit-fill profile">
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'accounts:detail' user %}">{{ user }}</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
          </div>
          {% else %}
          <div class="dropdown">
            <button class="profile--image rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user fa-xl" style="color: #1f4726"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'accounts:detail' user %}">{{ user }}</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:basic_logout' %}">Logout</a></li>
            </ul>
          </div>
          {% endif %}
        {% else %}
        <div class="dropdown">
          <button class="profile--image rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user fa-xl" style="color: #1f4726"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'accounts:basic_login' %}">Login</a></li>
            <li><a class="dropdown-item" href="{% url 'accounts:basic_signup' %}">Join</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
  {% comment %} Search Offcanvas {% endcomment %}
  <div id="searchOffcanvas" class="offcanvas">
    <div class="offcanvas-inner">
      <form action="{% url 'posts:search' %}" method="GET" class="position-relative search-mobile">
        {% csrf_token %}
        <input type="search" placeholder='검색어를 입력하세요!' name='q' style="padding-left:16px;" class="offcanvas-search">
        <button class="search-btn" type="submit"> 
          <i class="fa-solid fa-magnifying-glass" style="color: #183f20;"></i>
        </button>
      </form>
    </div>
  </div>

  <section>
    {% block content %}
    {% endblock content %}
  </section> 
  <footer>
    <div class="footer--txt">
      <a href="https://github.com/chae-yoon">김채윤</a>
      <a href="https://github.com/mangji12">오창인</a>
      <a href="https://github.com/haelim12">고해림</a>
      <a href="https://github.com/jeonseongjae98">전성재</a>
      <a href="https://github.com/fantael95">이태영</a>
      <p>KDT 풀스택 2기 이게금융2조 Copyright 2023. All Rights Reserved.</p>
    </div>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  {% comment %} Search Offcanvas {% endcomment %}
  const openOffcanvasButton = document.getElementById("search-icon")
  const offcanvas = document.getElementById("searchOffcanvas")

  openOffcanvasButton.addEventListener("click", function() {
      offcanvas.classList.add("show");
  })

  offcanvas.addEventListener("click", function(event) {
      if (event.target === offcanvas) {
          offcanvas.classList.remove("show");
      }
  })
</script>
{% block script %}
{% endblock script %}
</body>


{% comment %} 
db에서 문제가 있을 때

db.sqlite3 삭제
프로젝트에 있는 모든 마이그레이션 파일을 삭제
find . -path "*/migrations/*.py" -not -name "__init__.py" -delete

find . -path "*/migrations/*.pyc"  -delete

장고 재설치 -> 
pip install --upgrade --force-reinstall Django
python manage.py makemigrations
python manage.py migrate
db.sqlite3 삭제시 회원 정보까지 삭제됨 
{% endcomment %}