{% extends 'base.html' %}
{% load static %}
{% comment %} {% load filters %} {% endcomment %}
{% block title %}
{{product.title}}
{% endblock title %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock head %}

{% block content %}
  <div class="detail--box">
    {{product.title}}<br>
    {{product.category}}<br>
    <img src="{{ product.image.url }}" alt="Product Image"><br>
    {{product.content}}<br>
    <div>
        {% for tag in tags %}
        <a href="{% url 'posts:search' %}?q={{ tag }}">{{ tag }}</a>
    {% endfor %}
    </div>
    {% comment %} {% for comment in comments %}
    {{comment.user}}
    {{comment.content}}
    {% endfor %} {% endcomment %}
  </div>

<form action="{% url 'products:likes' product.pk %}" method="POST">
  {% csrf_token %}
  {% if request.user in product.like_product.all %}
    <input type="submit" value="좋아요 취소">
  {% else %}
    <input type="submit" value="좋아요">
  {% endif %}
</form>

 <form action="{% url 'products:delete' product.pk %}" method='POST'>
     {% csrf_token %}
     <input type='submit' value='삭제' onclick="return confirm('삭제 하시겠습니까?')">
 </form>

<form action="{% url 'products:update' product.pk %}" method="POST">
    {% csrf_token %}
    {{ product_form.as_p }}
    <input type="submit" value="UPDATE">
</form>

<a href="{% url 'products:update' product.pk %}">[UPDATE]</a>


{% endblock %}