{% extends 'base.html' %}
{% load static %}
{% comment %} {% load filters %} {% endcomment %}
{% block title %}
{{product.title}}
{% endblock title %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock head %}

{% block content %}
  <div class="detail--box">
    {{ product.title }}<br>
    {{ product.category }}<br>
    <img src="{{ product.image.url }}" alt="Product Image"><br>
    {{ product.content }}<br>
    <div>
        {% for tag in tags %}
        <a href="{% url 'posts:search' %}?q={{ tag }}">{{ tag }}</a>
        {% endfor %}
    </div>
  </div>

{% if request.user.is_authenticated %}
<form id="like-form" data-product-id="{{ product.pk }}">
    {% csrf_token %}
    {% if request.user in product.like_product.all %}
    <button type="submit">♥</button>
    {% else %}
    <button type="submit">♡</button>
    {% endif %}
</form>
{% endif %}

<form action="{% url 'products:delete' product.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제" onclick="return confirm('삭제 하시겠습니까?')">
</form>

<a href="{% url 'products:update' product.pk %}">[UPDATE]</a>
{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const likeForm = document.querySelector('#like-form');
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    likeForm.addEventListener('submit', function (event) {
      event.preventDefault();
      const productId = this.dataset.productId;
      axios({
        method: 'post',
        url: `/products/${productId}/likes/`,
        headers: {
          'X-CSRFToken': csrfToken
        }
      })
        .then((response) => {
          console.log(response);
          const isLiked = response.data.is_liked;
          const likeBtn = document.querySelector('#like-form > button[type=submit]');
          if (isLiked === true) {
            likeBtn.innerText = '♥';
          } else {
            likeBtn.innerText = '♡';
          }
        })
        .catch((error) => {
          console.error(error);
        });
    });
  </script>
{% endblock script %}

