{% extends 'base.html' %}
{% load static %}
{% block title %}
  Product List
{% endblock title %}

{% block style %}
<style>
  section {
    position: relative;
  }
</style>
{% endblock style %}

{% block content %}

<div class="index--page">
    <div class="sidebar">
      <h2>전체 List</h2>
      <ul style="none">
        <li><a href="{% url 'products:product_list' %}"><i class="bi bi-list"></i> 최신순</a></li>
        {% comment %} <li><a href="{% url 'posts:filtering' '리뷰순' %}"><i class="bi bi-chat-dots"></i> 댓글순</a></li>
        <li><a href="{% url 'posts:filtering' '좋아요순' %}"><i class="bi bi-chat-heart"></i> 좋아요순</a></li> {% endcomment %}
      </ul>
    </div>

    <div class="posts">
      <ul>
        {% for product in products %}
          <li class="product--item" style="width: 250px;" >
            {% comment %} <a href="{% url 'products:detail' product.pk %}" class="main--card" >
              <div class="flex-container justify-content-between">
                <span class="product--title">{{ product.title }}</span>
                <br>
                <span class="product--category">{{ product.category }}</span>
                <span class="product--date">{{ product.created_at|date:"Y년 m월 d일" }}</span>
              </div>
            </a> {% endcomment %}
            <a href="{% url 'products:detail' product.pk %}" class="post-item">
              <div class="post-header">
                <h3 class="post-title">{{ product.title }}</h3>
                <div class="post-meta">
                  <span class="post-category">{{ product.category }}</span>
                  <span class="post-date">{{ product.created_at|date:"Y년 m월 d일" }}</span>
                </div>
              </div>
              <div class="post-content">{{ product.content }}</div>
            </a>
          </li>
          {% empty %}
            <li>No products available.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
 {% comment %} <h1>Product List</h1>
    <ul>
    {% for product in products %}
        <li>{{ product.title }}</li>
        <li>{{ product.content }}</li>
        <li><img src="{{ product.image.url }}" alt="{{ product.title }}"></li>
        <li>Created at: {{ product.created_at }}</li>
        <li>Updated at: {{ product.updated_at }}</li>
        <br>
    {% empty %}
        <li>No products available.</li>
    {% endfor %}
    </ul> {% endcomment %}
{% endblock content %}