{% extends 'base.html' %}
{% block title %}
  상품 수정
{% endblock title %}

{% block content %}
  <div class="products--box">
    <div class="products--create">
      <h1>게시글을 수정해주세요!</h1>
      <form action="{% url 'products:update' product.pk %}" method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <input class="posts--btn" type="submit" value="수정">
        <input type="submit" value="뒤로가기" class="posts--btn" onclick=window.history.back()>
      </form>
    </div>
  </div>
{% endblock content %}